## 파일 무시 (test.txt) 


## 다음과 같은 확장자는 전체 무시  
*.text 
*.zip
*.log
*.bin
*.launch
*.chm
*.fw

## 폴더 무시
stm32f103rc_cube/
stm32f103rc_sdk_fw/
stm32f103rct_ap/
stm32f103rct_rtos/
stm32f103rct_wheel_encoder/
stm32f103rct_wheel_encoder_2/
stm32f103rct_usb_fs/
.vs/
.metadata/
build/
Debug/
.settings/
Templates/
_htmresc/